---
import BaseLayout from "../layouts/base-layout.astro";
---

<!-- <BaseLayout>
  <div id="p5-animation"></div>
  <script is:inline src="/p5.min.js"></script>
  <script is:inline src="/sketch.js"></script>
</BaseLayout> -->
<div>Coming soon :p</div>
